:host {
    width: 100%;
    margin-top: 5rem;
}

.free-parks {
    margin: 1rem auto;
    max-width: 1200px;

    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);

    padding: 2rem;
}

.free-parks-table th.align-right,
.free-parks-table td.align-right {
    text-align: right;
}

.free-parks-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.free-parks-table th {
    text-align: left;
    font-size: 0.5rem;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding: 0.25rem;
    vertical-align: bottom;
    line-height: 1.5em;
}

.free-parks-table td {
    font-size: 0.5rem;
    padding: 0.25rem;
    border-bottom: 1px solid #ddd;
    line-height: 1.5em;
}

.header-link {
    cursor: pointer;
}
