:host {
    width: 100%;
    margin-top: 5rem;
}

.content{
    margin: 1rem auto;
    max-width: 1200px;
}

.free-sites {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);

    padding: 2rem;
}

.free-sites-table th.align-right,
.free-sites-table td.align-right {
    text-align: right;
}

.free-sites-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.free-sites-table th {
    text-align: left;
    font-size: 0.5rem;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding: 0.25rem;
    vertical-align: bottom;
    line-height: 1.5em;
}

.free-sites-table td {
    font-size: 0.5rem;
    padding: 0.25rem;
    border-bottom: 1px solid #ddd;
    line-height: 1.5em;
}

.subtitle > a{
    font-family: "Droid Sans", "DejaVu Sans", sans-serif;
    color: #444444;
}

.subtitle{
    font-family: "Droid Sans", "DejaVu Sans", sans-serif;
    color: #444444;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 0;
}

small{
    font-size: 0.5rem;
}
